<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/about.css">
    
    <title>About Us</title>
</head>
<body>
    <%- include('layout/header')  %>  
    <main>
       

        <div class="hero-image">
            <div class="hero-text">
                <h1 class="mission"><b>Our Mission </b></h1>
                <h3 class="para"> Exploration is a mixture of curiosity and opportunity.
                    Visit new places and coming back with new experiences and knowledge to help us here on earth. Our web app is now giving you a chance on a journey into space.
                </h3>
            </div>
        </div>
        
        
        </div> -->


        <section class="teamCards">
            <h1 class="abbt">Our Team</h1>
            <div class="mainDiv">
                <div class="row">
                    <div class="column">
                        <div class="card zoom">
                            <img class="fullImage" src="../img/about us/Mousa.jpg" alt="">
                            <div class="container">
                                <h2><b>Mousa Sabah</b></h2>
                                
                                
                                <p class="social">
                                    <a href='https://www.linkedin.com/in/mousasabah/'> 
                                        <img class = "linkedin" src="../img/about us/linkedin (1).png" alt=""></a>
                                    <a href='https://github.com/MousaSbbah'> <img class="github" src="../img/about us/github-logo.png" alt=""></a>
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card zoom">
                            <img class="fullImage" src="../img/about us/Mohammad Q.jpg" alt="">
                            <div class="container">
                                <h2> Mohammad Quthama</h2>
                            
                                
                                <p class="social">
                                    <a href='https://www.linkedin.com/in/mohammad-quthama-500541184/'> 
                                        <img class= "linkedin" src="../img/about us/linkedin (1).png" alt=""></a>
                                    <a href='https://github.com/mohammad-qethama'> <img class="github" src="../img/about us/github-logo.png" alt=""></a>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card zoom">
                            <img class="fullImage" src="../img/about us/Tasnim.jpeg" alt="Tasnim" style="width:100%">
                            <div class="container">
                                <h2>Tasnim Wheebi</h2>
                        
                                
                                <p class="social">
                                    <a href='https://www.linkedin.com/in/tasnim-wheebi//'> 
                                        <img class= "linkedin" src="../img/about us/linkedin (1).png" alt=""></a>
                                    <a href='https://github.com/Tasnimwheebi'><img class="github" src="../img/about us/github-logo.png" alt=""> </a>
                                   
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row rowTow">
                    <div class="column">
                        <div class="card zoom">
                            <img class="fullImage" src="../img/about us/Farah.jpg" alt="Mustafa" style="width:100%">
                            <div class="container">
                                <h2>Farah Al Waheebi
                                </h2>
                                
                                <p class="social">
                                    <a href='https://www.linkedin.com/in/farah-wahaibi/'> 
                                        <img class= "linkedin"src="../img/about us/linkedin (1).png" alt=""></a>
                                    <a href='https://github.com/farahalwahaibi'> <img class="github" src="../img/about us/github-logo.png" alt=""></a>
                                  
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <div class="card zoom">
                            <img class="fullImage" src="../img/about us/Raba'a.jpeg" alt="Tamara" style="width:100%">
                            <div class="container">
                                <h2>Raba'a Hasan</h2>
                                
                                <p class="social">
                                    <a href='https://www.linkedin.com/in/rabaa-hasan/'><img class= "linkedin" src="../img/about us/linkedin (1).png" alt=""></a>
                                    <a href='https://github.com/rabaa-hasan'> <img class="github" src="../img/about us/github-logo.png" alt=""></a>
                                    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    

    </main>
    <%- include('layout/footer')  %>  
    
</body>
</html>