<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/favicon-32x32.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/error404.css">
    <title>Not Found</title>
</head>
<body>
    <%- include('layout/header') %>
<main>
<div class="container404">
    <img src="assets/images/34.jpg" alt="darkhole">
    <section class="massage404">
    <p>Page not found</p>
    <!-- <p>looks like you are near the event horizon </p> -->
    <a href="/">Home</a>
    </section>
</div> 
    
</main>

<%- include('layout/footer') %>
    
</body>
</html>