<div class="imgnotfound">
    <p class="headerimg"> Error 400: Image Not Found </p>
    <p>Please select diffrent date. <br> <span width=1px height=20px ></span> Note : Date must be between Jun 16, 1995 and Apr 17, 2021. </p>
    <iframe  src="https://picsum.photos/500/220" frameborder="1" width="500px" height="220px"></iframe>
    <p class="pictureInfo">A random picture to fill the space 'no pun intended'</p>
</div>
