<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/homePage.css">
    
    <title>About Us</title>
</head>
<body>
    <%- include('../layout/header')  %>  
    <main>
      
            <section class="container">
                <div class="heroText">
                    <h1>NOVA<br> FOR SPACE NEWS</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptates, reprehenderit doloribus
                        perspiciatis nesciunt.</p>
                </div>
                <div class="heroVideo">
                    <video autoplay muted loop>
                        <source src="./vedio/A Space Journey (HD).mp4">
                    </video>
                </div>
                <section class="homeContent">
                    <div class="news">
                        <img src="http://placehold.it/200x200/444444/FFFFFF" />
                        <br>
                        <h3>LATEST NEWS</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <br>
                        <button class="seeMore" type="submit"><a href="">See More >></a></button>
                    </div>
                    <div class="pictureOfToday">
                        <img src="http://placehold.it/200x200/444444/FFFFFF" />
                        <br>
                        <h3>PICTURE OF TODAY</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <br>
                        <button class="seeMore" type="submit"><a href="">See More >></a></button>
                    </div>
                    <div class="solarSystem">
                        <img src="http://placehold.it/200x200/444444/FFFFFF" />
                        <br>
                        <h3>SOLAR SYSTEM</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                        <br>
                        <button class="seeMore" type="submit"><a href="">See More >></a></button>
                    </div>
                </section>
            </section>

    </main>
    <%- include('../layout/footer')  %>  
    
</body>
</html>