<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/planet.css">
    
    
    <title>About Us</title>
</head>
<body>
    <%- include('./layout/header')  %>  
    <main>
        <div class="planetInfo">
            <img src="http://placehold.it/350x350/444444/FFFFFF" alt="">
            
            <h1> Title: Earth</h1>    
            <p> Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi dignissimos quod odit facilis minima temporibus, nisi vel debitis, officia exercitationem asperiores vero quae recusandae molestias blanditiis laboriosam, maxime deleniti qui? </p>
            <p> Age: 2566854659 </p>
            <p> Distance from Sun: 2566423656mil </p>
            <P> Size :565576/6546</P>
</div>


    </main>
    <script src="/js/planet.js"></script>
    <%- include('./layout/footer')  %>  
    
</body>
</html>