<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/solar.css">
    
    <title>About Us</title>
</head>
<body>
    <%- include('layout/header')  %>  
    <main>
        <div class="card-carousel">

            <div class="my-card"><a href="/planet/2"><img src="./img/18_mercury_new.png"></a></div>
            <div class="my-card"><a href="/planet/3"><img src="./img/27_venus_jg.png"></a></div>
            <div class="my-card"> <a href="/planet/3"><img src="./img/17_earth.png"></a></div>
            <div class="my-card"><a href="/planet/6"><img src="./img/31_earth_moon.png"></a></div>
            <div class="my-card"><a href="/planet/5"><img src="./img/19_mars.png"></a></div>
            <div class="my-card"> <a href="/planet/1"><img src="./img/16_jupiter_new.png"></a></div>
            <div class="my-card"><a href="/planet/4"><img src="./img/28_saturn.png"></a></div>
            <div class="my-card"><a href="/planet/7"><img src="./img/29_uranus.png"></a></div>
            <div class="my-card"><a href="/planet/8"><img src="./img/30_neptune.png"></a></div>

          </div>

    </main>
    <%- include('layout/footer')  %>  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="./js/solar.js"></script>
</body>
</html>