<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/reset.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/solar.css">
    
    <title>About Us</title>
</head>
<body>
    <%- include('layout/header')  %>  
    <main>
        <div class="card-carousel">
            <div class="my-card"><a href="/planet/mercury"><img src="18_mercury_new.png"></a></div>
            <div class="my-card"><a href="/planet/venus"><img src="27_venus_jg.png"></a></div>
            <div class="my-card"> <a href="/planet/earth"><img src="17_earth.png"></a></div>
            <div class="my-card"><a href="/planet/moon"><img src="31_earth_moon.png"></a></div>
            <div class="my-card"><a href="/planet/mars"><img src="19_mars.png"></a></div>
            <div class="my-card"> <a href="/planet/jupiter"><img src="16_jupiter_new.png"></a></div>
            <div class="my-card"><a href="/planet/saturn"><img src="28_saturn.png"></a></div>
            <div class="my-card"><a href="/planet/uranus"><img src="29_uranus.png"></a></div>
            <div class="my-card"><a href="/planet/neptune"><img src="30_neptune.png"></a></div>
          </div>

    </main>
    <%- include('layout/footer')  %>  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script> 
    <script src="../puplic/js/solar.js"></script>
</body>
</html>