*{
    box-sizing: border-box;
}



main{
    position: relative;
    height: 1255px;
}

.container{
    position: relative;
}

video {
    position:fixed;
    top: 0;
    width:100%;  
    height: 100vh;   
    height: auto;
    opacity: 0.9;  
}

.heroText{
    position: absolute;
    z-index: 1;
    margin-left: 58%;
    margin-top: 20%;
    margin-right: 5%;
}

.heroText h1{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bold;
    color: #cdfbff;
    font-size: 130px;
    text-align: left;
    margin-bottom: 20px;
}

.heroText h2{
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bold;
    color: #e2bf76;
    font-size: 25px;
    text-align: center;
    margin-bottom: 23px;
    margin-right: 54%;
}

.heroText p{
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
    font-family: Truculenta, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.featureName{
    color: #e2bf76;  
}

.homeContent{   
    position: absolute;
    margin-top: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
    gap: 50px;
    margin-left: 30px;
    margin-right: 30px;
    color:#b4a5a5;
}

.news{ 
  /* border:white solid 2px;  */
  align-items: center;
  text-align: center;
  transition: 1.5s;
  /* filter: drop-shadow(8px 8px 10px rgb(246 229 165)); */
  /* box-shadow:6px 6px 6px rgb(114, 64, 102) ; */
  padding-top: 10px;

}

.homeContent h3{
    font-size: 26px;
    font-weight: bold;
    font-family: 'Tenor Sans', sans-serif;
    font-weight: bold;
    color: #cdfbff;
    -webkit-text-stroke: 1px #e2bf76;
    color: white;
    text-shadow:
        3px 3px 0 #001057,
      -1px -1px 0 #001057,  
       1px -1px 0 #001057,
       -1px 1px 0 #001057,
        1px 1px 0 #001057;
}
.homeContent img {
    width: 250px;
    height: 250px;
    filter: drop-shadow(8px 8px 10px #e2c07691);
}
.news:hover{
    cursor: pointer; 
    opacity: .8;
    transform: scale(1.1);
    color: #e2bf76; 
}

.pictureOfToday{
    /* border:white solid 2px;  */
    align-items: center;
    text-align: center;
    transition: 1.5s;
    
    /* box-shadow:6px 6px 6px rgb(182, 149, 174) ; */
    
}
.pictureOfToday:hover{
    cursor: pointer; 
    opacity: .8;
    transform: scale(1.1);
}
.homeContent p {
    margin-top: 25px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}


.solarSystem{
    /* border:white solid 2px;  */
    align-items: center;
    text-align: center;
    transition: 1.5s;
    /* filter: drop-shadow(8px 8px 10px rgb(246 229 165)); */
    /* box-shadow:6px 6px 6px rgb(114, 64, 102) ; */
  
}
.solarSystem:hover{
    cursor: pointer; 
    opacity: .8;
    transform: scale(1.1);
}


header{
    z-index: 100;
}

.ContentLink{
    text-decoration: none;
    color: white;
}

.ContentLink:hover{
    text-decoration: none;
    color: #e2bf76;  
}