<footer>
    <div>
        <!-- <a href="https://github.com/nova-spacenews/nova"><img src="github.png" alt=""></a> -->
        <a href="#" >Terms & Condition</a>
        <a href="#" >Privacy Policy</a>
        <a href="#">Contact</a>
        <p>
            All Rights Reserved 2021 © NOVA 
        </p>
    </div>


</footer>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="./js/app.js"></script>