<header>
    <div>
        <a href="/"><img class="headerLogo" src="../img/logo.gif" alt=""></a>
        <section class="navBarHeader">
            <p><a href="/">Home</a> </p>
            <p><a href="/news/1">News</a> </p>
            <p><a href="/picture">Picture of the day</a> </p>
            <p><a href="/solar">Solar System</a> </p>
            <p><a href="/movies">Space Movies</a> </p>
            <p><a href="/about">About Us</a> </p>
        </section>
    
</header>